*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: aliceblue;
    background: url(/assets/images/mic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; }

.questions{
    margin: 3rem auto;
    width: 90vw;
    padding: 2rem;
    background: rgba(0,255,221,0.45);
    cursor: default;
    border-radius: 1rem; }