*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: aliceblue;
    background: url(/assets/images/studio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; }

#title{
    text-align: center;
    padding: 0.8rem 0;
    font-size: 100px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;}    

.questions{
    margin: 3rem auto;
    width: 90vw;
    padding: 2rem;
    background: rgba(0,255,221,0.45);
    cursor: default;
    border-radius: 1rem; }

#question{
    margin-bottom: 1rem; }

.option{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border-bottom: solid 0.1rem blue;
    width: 15rem;
    background: lightblue;
    border-radius: 1rem;
    }

.option:hover{
    color: white;
    }    